*{margin: 0; padding: 0;}
body{ font-size: 1.4rem;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

/*间距*/

.m-t-0{ margin-top: 0 !important;}
.m-t-5{ margin-top: 5px !important;}
.m-t-6{ margin-top: 6px !important;}
.m-t-10{ margin-top: 10px;}
.m-t-15{ margin-top: 15px;}
.m-t-20{ margin-top: 20px;}
.m-0{ margin: 0 !important;}
.p-t-0{ padding-top: 0 !important;}
.p-t-90{ padding-top: 90px !important;}
.pd5{ padding: 5px 0;}
.pd10{ padding: 10px;}
.pd15{ padding: 15px;}
.pd20{ padding: 20px;}
.m-l-15{ margin-left: 15px;}
.m-l-10{ margin-left: 10px;}
.p-r-20{ padding-right: 20px;}
.p-l-5{ padding-left:5px;}
.p-l-15{ padding-left:15px;}
.p-b-0{ padding-bottom: 0 !important;}
.p-b-10{ padding-bottom: 10px !important;}


.red{ color:#fb3e5a ;}
.dark{ color: #333;}
.bggery{ background: #f6f6f6 !important;}
.bgw{ background: #fff !important;}
.black{ color: #000;}
.gery{ color: #999;}
.yellow{ color:#ffa700 ;}
.white{ color: #fff;}
a.white:hover{ color: #fff;}
body{ color: #666; background: #fafafa;}
p{margin:0;}

/*字体大小*/

.f14{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f20{ font-size: 20px;}
.f22{ font-size: 22px;}
.f24{ font-size: 24px !important;}

a{ color: #333;}

.borde-right{ border-right:1px solid #eee; }
.borde-top{ border-top:1px solid #eee;}
.borde-bottom{ border-bottom:1px solid #eee;}
.border{border:1px solid #ddd;}
.text-right{ text-align: right;}
.text-center{ text-align: center;}
.text-left{text-align:left!important;}
.clearfix:after {clear: both;content: "020";display: block;height: 0;visibility: hidden;line-height: 0;font-size: 1px}
.mui-btn-block{padding:12px 5px;}
ul{ padding: 0; margin: 0;}
ul li{ list-style-type: none; padding: 0 ; margin: 0;}
.pr{ position: relative;}
.block{ display: block;}
input ,label ,textarea ,button{ font-family: "microsoft yahei" !important;-webkit-appearance: none;}
.input-text{ border: 1px solid #e2e2e2; border-radius: 5px; padding:.5rem; display: block;width: 100%;}
.right{ float: right;}
.left{ float: left;}
img{max-width: 100%;}
em,i{ font-style: normal;}
h1,h2,h3,h4,dt{ font-weight: normal; margin: 0; padding: 0;}
.none{ display: none;}
.border-radius-none{border-radius:0 !important}
.border-none{ border: none !important;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
/*弹性布局*/

.wbox{ display: -webkit-box;}
.wfl{-webkit-box-flex: 1;}
.vmiddle{ -webkit-box-align: center;}
input[type='number']{ border: none;}

/*按钮*/

.am-btn{ padding: .88em 1em;}
.am-btn.am-radius{ border-radius: 5px;}

.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field{ border:1px solid #e2e2e2; border-radius: 5px; padding:.8em .6em;}

.am-btn-warning{ background: #ffa600; border-color: #ffa600;}
.info-title{ border-bottom: 1px solid #ddd; background: #f3f3f3; font-size:16px; color: #333; height: 45px; line-height: 45px; padding-left: 15px; }

.am-btn-buy{background: #ff5000; border-color: #ff5000;color:#fff;}

.detais-box div{max-width:100%}
html,body{overflow-x:hidden}
