# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\project-source\订货系统源代码\订货系统源代码\fastway-shop-master\shop\backend\jf-plus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
